In [137]:
## Import Libraries
import numpy as np
import pandas as pd

import string

from collections import Counter

from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC

import warnings
warnings.filterwarnings('ignore')

In [138]:
df = pd.read_csv(r'C:\Users\Sanjeshni\Documents\DIV_IOD\Capstone Project\data.tsv',sep='\t')

In [139]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9740420 entries, 0 to 9740419
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 668.8+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [26]:
df.shape

(9740420, 9)

In [186]:
Train_data = df.iloc[:1028]
Test_data = df.iloc[:50]

In [187]:
Train_data.loc[Train_data['primaryTitle'] == "Ã©chelle" ]

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [189]:

print(Train_data['primaryTitle'].nunique())

1008

In [182]:
Train_data[['genres', 'genres_1', 'genres_2']] = Train_data['genres'].str.split(',', expand=True)
Train_data.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_1,genres_2
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,Documentary,Short,None
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,Animation,Short,None
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,Animation,Comedy,Romance
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,Animation,Short,None
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Comedy,Short,None

In [183]:
Train_data_1 = Train_data.drop(columns=['tconst'
                         ,'titleType'
                         ,'originalTitle'
                         ,'isAdult'
                         , 'startYear'
                         ,'endYear'
                         ,'runtimeMinutes'
                         ,'genres_1'
                         ,'genres_2'])

In [184]:
Train_data_1

                 primaryTitle       genres
0                  Carmencita  Documentary
1      Le clown et ses chiens    Animation
2              Pauvre Pierrot    Animation
3                 Un bon bock    Animation
4            Blacksmith Scene       Comedy
...                       ...          ...
1023  She Would Be an Actress        Short
1024       Sherlock Holmes IV      Mystery
1025        Sherlock Holmes V        Drama
1026       Sherlock Holmes VI           \N
1027    A Sinner's Repentance        Drama

[1028 rows x 2 columns]

In [171]:
corpus = Train_data_1['primaryTitle'].values
corpus

array(['Carmencita', 'Le clown et ses chiens', 'Pauvre Pierrot', ...,
       'To Save Her Soul', 'Toma caseta Z', 'Toma del Gurugu'],
      dtype=object)

In [190]:
vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names_out())

['000' '1895' '1908' ... 'Ã©tudiants' 'Ã©tÃ©' 'Ã©ventails']

In [173]:
Vector_Text = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())
Vector_Text['OriginalText'] = pd.Series(corpus)
Vector_Text

,000,1895,1908,1st,20,2nd,400,900,abductors,aber,...,zulu,Ã¡lvaro,Ã©chelle,Ã©cossaise,Ã©gypte,Ã©quilibriste,Ã©tudiants,Ã©tÃ©,Ã©ventails,OriginalText
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Carmencita
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Le clown et ses chiens
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Pauvre Pierrot
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Un bon bock
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Blacksmith Scene
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Tis an Ill Wind That Blows No Good
1054,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,De to guldgravere
1055,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,To Save Her Soul
1056,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Toma caseta Z
1057,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Toma del Gurugu

In [130]:
text_data = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())
text_data['genres'] = Train_data_1['genres']
text_data.head()

,000,1895,1908,1st,20,2nd,400,900,abductors,aber,...,zulu,Ã¡lvaro,Ã©chelle,Ã©cossaise,Ã©gypte,Ã©quilibriste,Ã©tudiants,Ã©tÃ©,Ã©ventails,genres
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Documentary
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Animation
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Animation
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Animation
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Comedy

In [131]:
Target= text_data.columns[-1]
Predictors= text_data.columns[:-1]
X= text_data[Predictors].values
y= text_data[Target].values

In [132]:
import sklearn.metrics as metrics
clf = LogisticRegression(C=5, solver='newton-cg',penalty='l2')
LOG=clf.fit(X,y)
pred=LOG.predict(X)
Test_Data=pd.DataFrame(data=X, columns=Predictors)
Test_Data['TargetVariable']=y
Test_Data['Prediction']=pred
print(metrics.classification_report(y, pred))
print(metrics.confusion_matrix(pred, y))
F1_Score=metrics.f1_score(y, pred, average='weighted')
print('Accuracy of the model on Testing Sample Data:', round(F1_Score,2))

              precision    recall  f1-score   support

      Action       0.96      0.89      0.93        28
   Adventure       1.00      1.00      1.00        10
   Animation       1.00      1.00      1.00        16
   Biography       1.00      1.00      1.00         6
      Comedy       0.98      0.99      0.99       199
       Crime       1.00      0.95      0.98        22
 Documentary       0.99      0.98      0.99       155
       Drama       0.96      0.98      0.97       233
      Family       1.00      0.67      0.80         3
     Fantasy       1.00      0.92      0.96        26
     History       0.00      0.00      0.00         2
      Horror       1.00      0.92      0.96        12
       Music       1.00      0.67      0.80         3
     Mystery       1.00      0.33      0.50         3
        News       0.93      1.00      0.96        13
     Romance       1.00      0.80      0.89         5
       Short       0.97      0.99      0.98       302
          \N       1.00      1.00      1.00        20

    accuracy                           0.98      1058
   macro avg       0.93      0.84      0.87      1058
weighted avg       0.97      0.98      0.97      1058

[[ 25   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0]
 [  0  10   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0  16   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   6   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0 197   0   1   1   0   0   0   1   0   0   0   0   0   0]
 [  0   0   0   0   0  21   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0 152   0   0   0   0   0   0   0   0   0   1   0]
 [  2   0   0   0   0   1   0 229   1   1   1   0   0   2   0   1   0   0]
 [  0   0   0   0   0   0   0   0   2   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0  24   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0  11   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   2   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0]
 [  0   0   0   0   0   0   1   0   0   0   0   0   0   0  13   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   4   0   0]
 [  1   0   0   0   2   0   1   3   0   1   1   0   1   0   0   0 300   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  20]]
Accuracy of the model on Testing Sample Data: 0.97

In [133]:
def genres_test(input_text):
    test = vectorizer.transform(input_text)
    Prediction=clf.predict(test)
    Result=pd.DataFrame(data=input_text, columns=['title'])
    Result['Prediction']=Prediction
    return(Result)

In [134]:
movie_name=["Flores y perlas"]
predicted_genre = genres_test(input_text=movie_name)
predicted_genre

             title   Prediction
0  Flores y perlas  Documentary

In [ ]:
clf = LogisticRegression(C=5, solver='newton-cg',penalty='l2')
LOG=clf.fit(X,y)
pred=LOG.predict(X)
Test_Data=pd.DataFrame(data=X, columns=Predictors)
Test_Data['TargetVariable']=y
Test_Data['Prediction']=pred
print(Test_Data.head())
print(metrics.classification_report(y, pred))
print(metrics.confusion_matrix(pred, y))
F1_Score=metrics.f1_score(y, pred, average='weighted')
print('Accuracy of the model on Testing Sample Data:', round(F1_Score,2))

In [ ]:
clf = LogisticRegression(C=5, solver='newton-cg',penalty='l2')
LOG=clf.fit(X,y)
pred=LOG.predict(X)
Test_Data=pd.DataFrame(data=X, columns=Predictors)
Test_Data['TargetVariable']=y
Test_Data['Prediction']=pred
print(Test_Data.head())
print(metrics.classification_report(y, pred))
print(metrics.confusion_matrix(pred, y))
F1_Score=metrics.f1_score(y, pred, average='weighted')
print('Accuracy of the model on Testing Sample Data:', round(F1_Score,2))

In [ ]:
clf = LogisticRegression(C=5, solver='newton-cg',penalty='l2')
LOG=clf.fit(X,y)
pred=LOG.predict(X)
Test_Data=pd.DataFrame(data=X, columns=Predictors)
Test_Data['TargetVariable']=y
Test_Data['Prediction']=pred
print(Test_Data.head())
print(metrics.classification_report(y, pred))
print(metrics.confusion_matrix(pred, y))
F1_Score=metrics.f1_score(y, pred, average='weighted')
print('Accuracy of the model on Testing Sample Data:', round(F1_Score,2))

In [ ]:
clf = LogisticRegression(C=5, solver='newton-cg',penalty='l2')
LOG=clf.fit(X,y)
pred=LOG.predict(X)
Test_Data=pd.DataFrame(data=X, columns=Predictors)
Test_Data['TargetVariable']=y
Test_Data['Prediction']=pred
print(Test_Data.head())
print(metrics.classification_report(y, pred))
print(metrics.confusion_matrix(pred, y))
F1_Score=metrics.f1_score(y, pred, average='weighted')
print('Accuracy of the model on Testing Sample Data:', round(F1_Score,2))